{% extends "base.html" %}
{% load static %}

{% block title %}
    Об авторе проекта
{% endblock %}

{% block content %}
<h1>Добро пожаловать.</h1>
<img src="{% static 'img/SP.jpg' %}" width="25"
                 height="25" class="d-inline-block align-top" alt="">
<p>
  Мое имя Сергей и это мой первый проект на <b><i>Django</i></b>
  созданный в рамках обучающего курса <b><i>Яндекс.Практикум
  Python-разработчик</i></b>.<br>
</p>
<p>
  Тут я размещу информацию о себе используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько
  абзацев текста.
</p>
{% endblock %}
